* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background: #f5f6f7;
}

/* NAVBAR */
.navbar {
    background: #f9fafb;
    padding: 18px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* LEFT SECTION */
.nav-left {
    display: flex;
    align-items: center;
    gap: 40px;
}

.logo img {
    width: 90px;
}

/* MENU */
.nav-menu {
    display: flex;
    gap: 32px;
}

.nav-menu a {
    text-decoration: none;
    color: #000;
    font-weight: 600;
    font-size: 16px;
}

.nav-menu a.active {
    color: #FF3B30;
}

/* SEARCH BOX */
.search-box {
    position: relative;
}

.search-box input {
    width: 300px;
    padding: 14px 45px 14px 18px;
    border-radius: 16px;
    border: 1px solid #ddd;
    outline: none;
    font-size: 15px;
}

.search-box i {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    color: #000;
}

/* RIGHT SECTION */
.nav-right {
    display: flex;
    align-items: center;
    gap: 22px;
}

.nav-right i {
    font-size: 22px;
    cursor: pointer;
}

.profile img {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    object-fit: cover;
}



.container {
    display: flex;
    padding: 30px;
    gap: 30px;
}

/* FILTER */
.filters {
    width: 260px;
    background: #FF3B30;
    color: #fff;
    padding: 25px;
    border-radius: 12px;
}

.filters h4 {
    margin: 18px 0 8px;
    font-size: 15px;
}

.filters label {
    display: block;
    font-size: 13px;
    margin-bottom: 6px;
    cursor: pointer;
}

.filters input {
    margin-right: 6px;
}

.filters button {
    width: 100%;
    margin-top: 60px;
    padding: 60px;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    justify-content: flex-end;
    display: flex;
}

/* CARDS */
.cards {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 25px;
}

.card {
    background: #fff;
    border-radius: 12px;
    padding: 15px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
    text-align: center;
}

.card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

.card h3 {
    font-size: 15px;
    margin: 10px 0 5px;
}

.card p {
    font-size: 12px;
}

.trainer,
.price {
    color: #FF3B30;
    font-weight: 600;
}

.card button {
    width: 100%;
    margin-top: 10px;
    padding: 8px;
    background: #000;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.card button:hover {
    background: #FF3B30;
}

/* RESPONSIVE */
@media(max-width:900px) {
    .container {
        flex-direction: column;
    }
}


.footer {
    background: #ffffff;
    border-top: 2px solid black;
    padding: 40px 60px 20px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.footer-box h3 {
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: 700;
}

.footer-box ul {
    list-style: none;
}

.footer-box ul li {
    font-size: 15px;
    margin-bottom: 8px;
    color: #333;
}

.logo-box img {
    width: 130px;
}

.contact-box p {
    font-size: 15px;
    margin-bottom: 8px;
    color: #333;
}

.social-box img {
    width: 100px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.social-box h4 {
    font-size: 16px;
    margin-bottom: 10px;
}

.social-icons {
    display: flex;
    gap: 15px;
}

.social-icons i {
    background: #000;
    color: #fff;
    padding: 8px;
    border-radius: 50%;
    font-size: 14px;
    cursor: pointer;
}

.social-icons i:hover {
    background: #FF3B30;
}

.footer-bottom {
    text-align: center;
    margin-top: 30px;
    font-size: 14px;
    color: #333;
}

.footer-bottom p {
    margin-top: 5px;
}

.footer-bottom span {
    cursor: pointer;
}

.footer-bottom span:hover {
    color: #FF3B30;
}

/* Responsive */
@media (max-width: 900px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .social-icons {
        justify-content: center;
    }
}